@charset "utf-8";

/****************************************************
	파일명	: reset.css
	최초작성자	: 이민혁
	최초작성일	: 2024-09-28
	-------------------------------------------------
	Dec. 기본 스타일 초기화 관련 스타일
	-------------------------------------------------
	최종수정자	: 이민혁
	최종수정일	: 2024-09-28
	수정내용	: 최초작성
	속성순서: 레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* WEB FONT */
@font-face {
	font-weight: 300;
	font-family: 'Noto Sans KRD';
	font-style: normal;
	src: url(https://www.g4k.go.kr/css/NotoSansKR-DemiLight.woff2) format('woff2'), url(https://www.g4k.go.kr/css/NotoSansKR-DemiLight.woff) format('woff'), url(https://www.g4k.go.kr/css/NotoSansKR-DemiLight.otf) format('opentype');
}
@font-face {
	font-weight: 400;
	font-family: 'Noto Sans KR';
	font-style: normal;
	src: url(https://www.g4k.go.kr/css/NotoSansKR-Regular.woff2) format('woff2'), url(https://www.g4k.go.kr/css/NotoSansKR-Regular.woff) format('woff'), url(https://www.g4k.go.kr/css/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-weight: 600;
	font-family: 'Noto Sans KRM';
	font-style: normal;
	src: url(https://www.g4k.go.kr/css/NotoSansKR-Medium.woff2) format('woff2'), url(https://www.g4k.go.kr/css/NotoSansKR-Medium.woff) format('woff'), url(https://www.g4k.go.kr/css/NotoSansKR-Medium.otf) format('opentype');
}

*,
*::before,
*::after {
box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
    font-size: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    height: 100%;
    font-size: 62.5%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* 핵심 body의 기본값을 설정합니다. */
body {
    height: 100%;
	font-size:15px;
	line-height:1.5;
	font-family: 'Noto Sans KR', sans-serif;
    min-height: 100vh;
}

fieldset, img {
	border: 0;
	vertical-align: middle;
	max-width:100%
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    color: #000;
    text-decoration: none;
}

button {cursor: pointer;}
textarea {border:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;word-break:keep-all;word-wrap:break-word}
button, input {border:0; background: inherit;-webkit-border-radius:0;border-radius:0;}